@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.row {
  width: 100%;
  max-width: 1082px;
  margin: 0 auto;
}

h1 {
  font-weight: 900;
  margin-bottom: 20px;
  font-size: 44px;
}

h2 {
  font-weight: 900;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  display: flex;
  list-style: none;
}

p {
  font-weight: 500;
  line-height: 1.5;
}

.green {
  color: rgb(13, 117, 30);
}

/* LANDING */

.nav {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.logo {
  height: 48px;
  padding-right: 10px;
}

.asdp-name {
  color: rgb(13, 117, 30);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.nav__links {
  display: flex;
  padding-left: 204px;
  justify-content: center;
}

.nav__link {
  padding-left: 45px;
  color: #0d9242;
  font-weight: 700;
}

.nav__login {
  padding-left: 75px;
  font-weight: 700;
}

.log {
  color: #0d9242;
  padding-right: 20px;
}

.btn {
  background-color: rgb(13, 117, 30);
  color: white;
  font-weight: 500;
  padding: 12px 32px;
  border-radius: 50px;
  border: none;
}

/* HEADER */

#header {
  padding-top: 96px;
}

.columns {
  display: flex;
}

.left__column {
  width: 40%;
  padding: 50px 24px;
}

.right__column {
  width: 60%;
  padding: 50px 24px;
}

.emailstyle {
  padding-left: 2rem;
  padding-right: 44px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 44px;
  border-width: 2px;
  width: 100%;
  font-weight: 500;
  transition-duration: 300ms;
}

.emailbutton {
  background-color: rgb(13, 117, 30);
  color: white;
  font-weight: 500;
  cursor: pointer;
  margin-right: 8px;
  position: absolute;
  border-radius: 44px;
  padding: 10px;
  display: flex;
}

.newsletter {
  padding-top: 48px;
  height: 2px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-end;
}

.sponsor {
  padding-top: 96px;
}

.spon {
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.cos {
  padding-top: 10px;
  max-width: 100%;
}

/* MAIN */

.container {
  padding: 80px 0;
}

.sub {
  padding-bottom: 20px;
  font-weight: 700;
}

.sub,
.title {
  display: flex;
  justify-content: center;
}

.services {
  padding-top: 24px;
  display: flex;
  flex-wrap: wrap;
}

.service {
  padding: 36px 24px;
  display: flex;
  width: calc(100% / 3);
}

.description {
  display: flex;
  flex-direction: column;
}

img {
  border: #0d9242 solid;
  border-width: 1px;
  text-align: center;
  border-radius: 9999px;
  padding: 1.25rem; 
}

