@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.row {
  width: 100%;
  max-width: 1082px;
  margin: 0 auto;
}

h1 {
  font-weight: 900;
  margin-bottom: 20px;
  font-size: 44px;
}

h2 {
  font-weight: 900;
}

h4 {
  text-align: center;
  line-height: 2.5;
  margin-top: 15px;
  margin-bottom: 15px;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  font-weight: 500;
  line-height: 1.5;
}

.green {
  color: rgb(13, 117, 30);
}

/* LANDING */

.nav {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.logo {
  height: 48px;
  padding-right: 10px;
}

.asdp-name {
  color: rgb(13, 117, 30);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.nav__links {
  display: flex;
  padding-left: 204px;
  justify-content: center;
}

.nav__link {
  padding-left: 33px;
  color: #0d9242;
  font-weight: 700;
}

.nav__login {
  padding-left: 75px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.log {
  color: #0d9242;
  padding-right: 20px;
}

.btn {
  background-color: rgb(13, 117, 30);
  color: white;
  font-size: 18px;
  letter-spacing: 1.4px;
  font-weight: 500;
  padding: 12px 32px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

/* HEADER */

#header {
  padding-top: 96px;
}

.columns {
  display: flex;
}

.left__column {
  width: 40%;
  padding: 50px 24px;
}

.right__column {
  width: 60%;
  padding: 50px 24px;
}

.emailstyle {
  padding-left: 2rem;
  padding-right: 44px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 44px;
  border-width: 2px;
  width: 100%;
  font-weight: 500;
  transition-duration: 300ms;
}

.emailbutton {
  background-color: rgb(13, 117, 30);
  color: white;
  font-weight: 500;
  cursor: pointer;
  margin-right: 8px;
  position: absolute;
  border: none;
  border-radius: 44px;
  padding: 12px 25px;
  display: flex;
}

.newsletter {
  padding-top: 48px;
  height: 2px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-end;
}

.sponsor {
  padding-top: 96px;
}

.spon {
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.cos {
  padding-top: 10px;
  max-width: 100%;
}

/* MAIN */

.container {
  padding: 80px 0;
}

.sub {
  padding-bottom: 20px;
  font-weight: 700;
}

.sub,
.title {
  display: flex;
  justify-content: center;
}

.services {
  padding-top: 24px;
  display: flex;
  flex-wrap: wrap;
}

.service {
  padding: 36px 24px;
  display: flex;
  width: calc(100% / 3);
}

.description {
  display: flex;
  flex-direction: column;
}

.main__title {
  padding-bottom: 10px;
}

.img__round {
  margin-right: 15px;
  border: #0d9242 solid;
  border-width: 1px;
  text-align: center;
  border-radius: 9999px;
  padding: 1.25rem;
}

.row-2 {
  width: 100%;
  max-width: 1082px;
  margin: 0 auto;
  display: flex;
}

.img {
  width: 50%;
  padding-left: 15px;
  filter: invert(0%) hue-rotate(250deg);
}

.text {
  width: 50%;
  flex-direction: column;
}

.sub__2 {
  padding-bottom: 15px;
  font-weight: 700;
}

.par {
  max-width: 78%;
  padding-bottom: 30px;
}

.btn-2 {
  max-width: 30%;
  background-color: rgb(13, 117, 30);
  color: white;
  font-size: 18px;
  letter-spacing: 1.4px;
  font-weight: 500;
  padding: 12px 20px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.img-2 {
  width: 50%;
  height: 35%;
  padding-top: 55px;
  padding-right: 20px;
  filter: invert(0%) hue-rotate(250deg);
}

.section-3 {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.list {
  padding-bottom: 15px;
  display: flex;
}

.numb {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 1;
  color: #0d9242;
}

.subtitle {
  max-width: 53%;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

.fonts {
  display: flex;
}

.fonts-3 {
  padding-bottom: 20px;
  display: flex;
}

.fonts-4 {
  margin-right: 10px;
  background-color: rgb(13, 117, 30);
  color: white;
  text-align: center;
  padding: 0.5rem;
  border-radius: 9999px;
}
.fonts-5 {
  display: flex;
  align-items: center;
}

.fonts-6 {
  max-width: 90%;
  padding-bottom: 30px;
  line-height: 2.5;
}  

.price-title {
  display: flex;
    flex-direction: column;
    align-items: center;
}

.par-2 {
  text-align: center;
}

.plans {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.plan {
  padding: 20px;
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pri-tit {
  font-size: 20px;
  padding-bottom: 15px;
}

.h3 {
  text-align: center;
  padding-top: 25px;
  font-weight: 900;
}

.btn-3 {
  margin-left: 75px;
  max-width: 50%;
  background-color: rgb(13, 117, 30);
  color: white;
  font-size: 18px;
  letter-spacing: 1.4px;
  font-weight: 500;
  padding: 12px 20px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
